DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_USERNAME=
DISCORD_STREAM_CHANNEL_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
